{% extends "DyweeOrderCMSBundle::layout.html.twig" %}

{% block metaTitle %}
    {{ 'basket.metaTitle'|trans }} {{ parent() }}
{% endblock %}

{% set current_checkout_step = 1 %}

{% block body %}
    {% include 'DyweeOrderCMSBundle:Checkout:checkout-wizard.html.twig' %}

    <div class="row">
        <div class="col-lg-9">

            <div class="card">
                <div class="card-header">
                    {{ 'basket.review'|trans|capitalize }}
                </div>
                {% if order is defined %}
                    {% if order.orderElements|length > 0 %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'checkout.table.product'|trans|capitalize }}</th>
                                    <th>{{ 'checkout.table.unit_price'|trans|capitalize }}</th>
                                    <th colspan="2">{{ 'checkout.table.quantity'|trans|capitalize }}</th>
                                    <th>{{ 'checkout.table.total'|trans|capitalize }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for orderElement in order.orderElements %}
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    {% if orderElement.product.pictures|length > 0 %}
                                                        {% set picture = orderElement.product.pictures|first %}
                                                        <a href="{{ path('product_cms_view', {id: orderElement.product.id}) }}">
                                                            <img src="{{ asset('images/products/' ~ picture.imageName) }}"
                                                                 alt="{{ orderElement.product.name }}"
                                                                 class="img-responsive"/>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                <div class="col-xs-9">
                                                    <a href="{{ path('product_cms_view', {id: orderElement.product.id}) }}">{{ orderElement.product.name }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ orderElement.unitPrice|number_format(2) }}€</td>
                                        <td class="col-md-2 col-xs-6">
                                            <div class="input-group">
                                <span class="input-group-btn">
                                    <a href="{{ path('basket_remove_product', {id: orderElement.product.id}) }}"
                                       data-product="{{ orderElement.product.id }}"
                                       class="btn btn-default removeOne">-</a>
                                </span>
                                                <input type="number" class="form-control basket-control" min="0"
                                                       step="1"
                                                       value="{{ orderElement.quantity }}"
                                                       data-product="{{ orderElement.product.id }}"
                                                       data-quantity="{{ orderElement.quantity }}"
                                                >
                                                <span class="input-group-btn">
                                    <a href="{{ path('basket_add_product', {id: orderElement.product.id}) }}"
                                       data-product="{{ orderElement.product.id }}" class="btn btn-default addOne">+</a>
                                </span>
                                            </div>
                                        </td>
                                        <td colspan="quantity-control">
                                            <a href="{{ path('basket_delete_product', {id: orderElement.product.id}) }}"
                                               class="pull-right"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td>{{ orderElement.totalPrice|number_format(2) }}€</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="card-footer">
                                {% if btn is defined %}
                                    <div class="col-md-8 pull-right">
                                        {{ btn|raw }}
                                    </div>
                                {% else %}
                                    <a href="{{ path('cms_homepage') }}" class="btn btn-default"><i
                                                class="fa fa-angle-left"></i> {{ 'Continuer mes achats'|trans }}</a>
                                {% endif %}

                            </div>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <p>{{ 'basket.empty'|trans }}</p>

                            <hr>
                            {% if btn is defined %}
                                <p class="col-md-8 pull-right">
                                    {{ btn|raw }}
                                </p>
                            {% else %}
                                <p><a href="{{ path('cms_homepage') }}" class="btn btn-default"><i
                                                class="fa fa-angle-left"></i> {{ 'Continuer mes achats'|trans }}</a></p>
                            {% endif %}
                        </div>
                    {% endif %}

                {% endif %}
            </div>

        </div>

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <p>{% transchoice order.countProducts %} basket.contains {% endtranschoice %}</p>
                    <p><span class="h3"> {{ 'checkout.total_vat'|trans|capitalize }}</span> <span
                                class="h4 pull-right" style="margin-top: 5px">{{ order.priceVatIncl|number_format(2) }}€</span></p>
                    {% set class = order.orderElements|length < 1 ? 'disabled' : '' %}
                    <p><a href="{{ path('checkout_billing') }}"
                          class="btn btn-lg btn-success pull-right btn-block {{ class }}">{{ 'basket.next'|trans }} <i
                                    class="fa fa-angle-right" style="margin-left: 10px"></i></a></p>
                </div>
            </div>
        </div>
    </div>



    <script>
        {% if order is defined and order is not null %}
        var initPrice = parseFloat({{ order.priceVatIncl }});
        {% else %}
        var initPrice = 0;
        {% endif %}


    </script>

{% endblock %}

{% block js_footer %}
    <script src="{{ asset('bundles/dyweeordercms/js/basket.js') }}"></script>
{% endblock %}