{# Dywee\OrderBundle\Resources\View\Basket\shipping-home.html.twig #}

{{ form_start(home) }}
{{ form_errors(home) }}

    {{ form_row(home.lastName) }}

    {{ form_row(home.firstName) }}

    {{ form_row(home.company) }}

    {{ form_row(home.email.email) }}

    {{ form_row(home.phone.phone_number) }}

    {{ form_row(home.line1) }}

    {{ form_row(home.line2) }}

    {{ form_row(home.number) }}

    {{ form_row(home.box) }}

    {{ form_row(home.other) }}

    {{ form_row(home.city) }}


    {{ form_row(home.shippingMessage) }}


<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Valider</button>


{{ form_rest(home) }}
{{ form_end(home) }}