{% extends 'DyweeOrderCMSBundle::admin.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h2 class="box-title">Statistiques de vente</h2>
        </div>
        <div class="box-body">
            <div id="order_stat_general"></div>
        </div>
    </div>
{% endblock %}

{% block footerJavascript %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        var stats = [];
        stats.push(['Mois', 'panier', 'facturation', 'livraison', 'recap']);
        {% for stat in stats %}
            stats.push([
                '{{ stat.createdAt }}',
                {{ stat['dywee_order_cms.display_basket']}},
                {{ stat['dywee_order_cms.display_billing'] }},
                {{ stat['dywee_order_cms.valid_shipping'] }},
                {{ stat['dywee_order_cms.display_recap'] }}
                ]);
        {% else %}
            stats.push(['', 0, 0, 0, 0]);
        {% endfor %}

    </script>
    <script type="text/javascript" src="{{ asset('bundles/dyweeordercms/js/stat.js') }}"></script>
{% endblock %}