{# Dywee\OrderBundle\Resources\View\Basket\facturation.html.twig #}

{%  extends "DyweeOrderCMSBundle::layout.html.twig" %}

{% block metaTitle %}
    {{ 'Adresse de facturation'|trans }} {{ parent() }}
{% endblock %}

{% set current_checkout_step = 2 %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% include 'DyweeOrderCMSBundle:Checkout:checkout-wizard.html.twig' %}
        </div>

        {% if orderConnexionPermission == 'registered' or orderConnexionPermission == 'both' %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'Commander avec mon compte'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {# TODO reactiver le choix d'adresse via login
                        {% if app.user %}
                            {{ render(controller('DyweeUserBundle:Basket:billingHelper')) }}
                        {% else %}
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        {% endif %}#}
                    </div>
                </div>
            </div>
        {% endif %}
        
        {% if orderConnexionPermission == 'anon' or orderConnexionPermission == 'both' %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{ 'Commander sans créer de compte'|trans }}</h2>
                    </div>
                    <div class="panel-body">
                        {% include 'DyweeOrderCMSBundle:Billing:billing_form.html.twig' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block js_footer %}
<script>
    dywee_handle_form_collection('billing_address_emails');
</script>
{% endblock %}