{# Dywee\OrderBundle\Resources\View\Basket\facturation.html.twig #}

{% extends "DyweeOrderCMSBundle::layout.html.twig" %}

{% block metaTitle %}
    {{ 'Adresse de facturation'|trans }} {{ parent() }}
{% endblock %}

{% set current_checkout_step = 2 %}

{% set columnClass %}{% spaceless %}
    {% if orderConnexionPermission == 'both' and app.user is null %}
        col-lg-6
    {% else %}
        col-md-8 col-md-offset-2
    {% endif %}
{% endspaceless %}{% endset %}

{% block body %}
    {% include 'DyweeOrderCMSBundle:Checkout:checkout-wizard.html.twig' %}
    
    <div class="row">
        {% if orderConnexionPermission == 'registered' or orderConnexionPermission == 'both' %}
            <div class="{{ columnClass }}">
                <div class="card">
                    <div class="card-header">
                        {{ 'Commander avec mon compte'|trans }}
                    </div>
                    <div class="card-body">
                        {% if app.user %}
                            {{ render(controller('DyweeOrderCMSBundle:RegisteredCheckout:addressPicker')) }}
                        {% else %}
                            {{ render(controller('FOSUserBundle:Security:login')) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if orderConnexionPermission == 'anon' or (orderConnexionPermission == 'both' and app.user is null) %}
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        {{ 'Commander sans créer de compte'|trans }}
                    </div>
                    <div class="card-body">
                        {% include 'DyweeOrderCMSBundle:Billing:billing_form.html.twig' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block js_footer %}
    <script>
        dywee_handle_form_collection('billing_address_emails');
    </script>
{% endblock %}