
{% if orders is not empty %}

    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
            <tr>
                <th>#</th>
                <th>Réference</th>
                <th><i class="fa fa-file-text"></i></th>
                <th>Statut Paiement</th>
                <th>Statut</th>
                <th>Total</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('order_view', {id: order.id}) }}" class="link-unstyled" >{{ order.reference }}</a></td>
                    <td><a href="{{ path('invoice_admin_view', {id: order.id}) }}" class="link-unstyled" >{{ order.invoiceReference }}</a></td>
                    <td>
                            {{ order.paymentStatus|trans }}
                    </td>
                    <td>
                        {% include 'DyweeOrderBundle:Order:state_label.html.twig' %}
                    </td>
                    <td>{{ order.totalPrice|number_format(2) }}€</td>
                    <td>{{ order.createdAt|date('d/m/Y') }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <a href="{{ path('order_view', {id: order.id}) }}" class="btn btn-default"><i class="fa fa-eye"></i> </a>
                            <a href="{{ path('invoice_view', {id: order.id}) }}" class="btn btn-default"><i class="fa fa-file-text"></i> </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div><!-- /.table-responsive -->
{% else %}
    <div class="panel-body">
        <p>Aucune commande</p>
    </div>
{% endif %}
