{# Dywee\OrderBundle\Resources\View\Basket\address-form.html.twig #}

{{ form_start(form) }}

{{ form_errors(form) }}

<div class="col-md-6">

    <div class="form-group">
        {{ form_label(form.lastName, "Nom") }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName, {"attr": {"class": "form-control", "placeholder": "Nom"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.firstName, "Prénom") }}
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName, {"attr": {"class": "form-control", "placeholder": "Prénom"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.companyName, "Nom de l'entreprise (facultatif)") }}
        {{ form_errors(form.companyName) }}
        {{ form_widget(form.companyName, {"attr": {"class": "form-control", "placeholder": "Nom de l'entreprise (facultatif)"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email.first) }}
        {{ form_errors(form.email.first) }}
        {{ form_widget(form.email.first, {"attr": {"class": "form-control", "placeholder": "Adresse e-mail"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email.second) }}
        {{ form_errors(form.email.second) }}
        {{ form_widget(form.email.second, {"attr": {"class": "form-control", "placeholder": "Adresse e-mail"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.mobile, "Mobile") }}
        {{ form_errors(form.mobile) }}
        {{ form_widget(form.mobile, {"attr": {"class": "form-control", "placeholder": "Mobile"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.address1, "Adresse") }}
        {{ form_errors(form.address1) }}
        {{ form_widget(form.address1, {"attr": {"class": "form-control", "placeholder": "Adresse"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.zip, "Code postal") }}
        {{ form_errors(form.zip) }}
        {{ form_widget(form.zip, {"attr": {"class": "form-control", "placeholder": "Code postal"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.cityString, "Ville") }}
        {{ form_errors(form.cityString) }}
        {{ form_widget(form.cityString, {"attr": {"class": "form-control", "placeholder": "Ville"}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.country, "Pays") }}
        {{ form_errors(form.country) }}
        {{ form_widget(form.country, {"attr": {"class": "form-control", "placeholder": "Pays"}}) }}
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}, 'label': 'Suivant'}) }}
</div>

{{ form_rest(form) }}

{{ form_end(form) }}