{# Dywee\OrderBundle\Resources\View\Basket\recap.html.twig #}

{% extends "DyweeOrderCMSBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .card {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block metaTitle %}
    {{ 'Recapitulatif de votre commande'|trans }} {{ parent() }}
{% endblock %}

{% set current_checkout_step = 4 %}

{% block body %}

    {% include 'DyweeOrderCMSBundle:Checkout:checkout-wizard.html.twig' %}

    <h1>{{ 'checkout.recap'|trans }}</h1>
    <div class="card">
        <div class="card-header">{{ 'Récapitulatif de la commande'|trans }} -
            <small>ref: {{ order.reference }}</small>
            </h3></div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ 'checkout.table.product'|trans|capitalize }}</th>
                <th>{{ 'checkout.table.unit_price'|trans|capitalize }}</th>
                <th>{{ 'checkout.table.quantity'|trans|capitalize }}</th>
                <th>{{ 'checkout.table.total'|trans|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for orderElement in order.orderElements %}
                <tr>
                    <td>
                        <div class="col-xs-2">
                            {% if orderElement.product.pictures|length > 0 %}
                                {% set picture = orderElement.product.pictures|first %}
                                <img src="{{ asset('images/products/' ~ picture.imageName) }}"
                                     alt="{{ orderElement.product.name }}" class="img-responsive"/>
                            {% endif %}
                        </div>
                        <div class="col-xs-9">
                            {{ orderElement.product.name }}
                        </div>
                    </td>
                    <td>{{ orderElement.unitPrice|number_format(2) }}€</td>
                    <td>{{ orderElement.quantity }}</td>
                    <td>{{ orderElement.totalPrice|number_format(2) }}€</td>
                </tr>
            {% endfor %}
            <tr class="active">
                <td colspan="3">{{ 'checkout.total_vat_excl'|trans|capitalize }}</td>
                <td colspan="2">{{ order.priceVatExcl|number_format(2) }}€</td>
            </tr>
            <tr>
                <td colspan="3">{{ 'checkout.vat'|trans|capitalize }}</td>
                <td colspan="2">{{ order.vatPrice|number_format(2) }}€ ({{ order.vatRate|number_format(2) }}%)</td>
            </tr>
            <tr>
                <td colspan="3">{{ 'checkout.shipping_fee_vat'|trans|capitalize }}</td>
                <td colspan="2">{{ order.deliveryCost|number_format(2) }}€</td>
            </tr>
            <tr class="success">
                <td colspan="3">{{ 'checkout.total_vat'|trans|capitalize }}</td>
                <td colspan="2">{{ order.totalPrice|number_format(2) }}€</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-header">{{ 'checkout.billing_address'|trans|capitalize }}</div>
                <div class="card-body">
                    {% set address = order.billingAddress %}
                    {% include 'DyweeAddressBundle:Address:view_wrapped.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card">
                <div class="card-header">{{ 'checkout.shipping_address'|trans|capitalize }}</div>
                <div class="card-body">
                    {% set address = order.shippingAddress %}
                    {% include 'DyweeAddressBundle:Address:view_wrapped.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-header">{{ 'checkout.shipping_method'|trans|capitalize }}</div>
                <div class="card-body">
                    {% if order.shippingMethod is not null %}
                        {{ order.shippingMethod.name }}
                    {% else %}
                        {{ 'no_shipping_method'|trans }}
                    {% endif %}
                    ( {{ order.shippingCost }} € )
                </div>
            </div>
        </div>
        {% if not order.shippingMessage == '' %}
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-header">{{ 'checkout.shipping_message'|trans }}</div>
                    <div class="card-body">
                        {{ order.shippingMessage }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-xs-12">
            <div class="card" id="payment">
                <div class="card-header">{{ 'Choix du paiement'|trans }}</div>
                <div class="card-body">
                    <a href="{{ path('order_payment_prepare') }}" class="btn btn-default">Payer</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        function showWaitingWheel(link) {
            $(link).html('<i class="fa fa-spin fa-spinner"></i> Vous allez être redirigé vers paypal pour votre paiement. Veuillez patienter...');
        }

        $(document).ready(function () {
            var request = $.ajax({
                url: '#'{#{{ path('dywee_paypal_ajax') }}'#},
                type: 'post',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    if (data.type == 'success') {
                        $("#paypalLink").attr('src', data.url).removeClass("hide");
                        $("#paypalLink2").attr('src', data.url).removeClass("hide");
                        $("#firstSpinner").addClass("hide");
                    }
                    else {
                        alert(data.text);
                    }
                }
            });

            request.fail(function (jqXHR, textStatus) {
                ('#log').html('Request failed: ' + textStatus);
            });

        });

    </script>
{% endblock %}